version: '3.3'
services:
    web:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: chatapp-dev
        ports:
            - "0:8080"
        depends_on:
            - db
        networks:
            - custom_network
    db:
        image: redis
        container_name: redis_dev
        environment:
            REDIS_ENDPOINT_URL: "redis_dev"
            REDIS_PASSWORD: "password"
        volumes:
            - "db_data:/var/lib/redis-volume"
        ports:
            - "3306:3306"
            - "33060:33060"
    volumes:
        db_data:
    networks:
        custom_network:
            