version: '3.3'
services:
    chatapp:        
        image: chatapp
        build:
            context: ./chatapp
            dockerfile: Dockerfile
        environment:
            REDIS_ENDPOINT_URL: "chatapp_redisapp:6379"
            REDIS_PASSWORD: "password"
            PORT: "9000"
        ports:
            - "9000:9000"
        depends_on:
            - redisapp
        networks:
            - custom_network
    redisapp:
        image: redis
        hostname: redishost
        volumes:
            - "db_data:/var/lib/redis-volume"
        ports:
            - "6379:6379"
            - "63790:63790"
        networks:
            - custom_network
volumes:
    db_data:
networks:
    custom_network:
        driver: overlay
